**/.classpath
**/.dockerignore
**/.env
**/.env.*
!**/.env.defaults
**/.git
**/.gitignore
**/.project
**/.settings
**/.vs
**/.vscode
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/*.sqlite
**/*.db
**/test.ts
**/test.js
LICENSE
README.md
